doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/zepto.min.js')
    script(type='text/javascript', src='/javascripts/demo.js')
  body
    block content
      h1= "jsapi permission test"